@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
    padding: 20px;
}

.container {
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid black;
    display: flex;
    gap: 1rem;
/* 'jusify-content' is for horizontal alignment. */
    justify-content: center;

/* 'align-items' is used for vertical alignment. The 'space-evenly' type
    options do not exist for vertical alignment. */
    align-items: center;

    /* 'flex-direction' is use to determine the alignment of type (horizonal,
        vertical, etc.) of the elements inside the parent container. */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow: row-reverse wrap;
    align-content: space-evenly;
}
/* The changes made to the container class, are changes made to the element 
    surrounding the items. It is possible to use flex on the elements themselves. */

.box {
/*     min-width: 115px; */
/*     height: 500px; */
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

/* The below are properties for flex ITEMS, not the container */ 
    flex-shrink: 1;    
    flex-basis: 110px;
}

.box:nth-child(2) {
    flex-shrink: 2;
    order: -1;
}