html {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

/* The background tag allows you change the color (and other stylings) 
    to the background. The 'color' tag refers to font color. Colors can
    be set using color names, rgb, rgba, hsl, hsla, and hexadecimal. The 'rgb' tag uses 
    three numberic values from 0-255.*/
body {
    line-height: 1.5;
    background: papayawhip;
    color: rgb(0,0,0);
}

/* The 'rgba' color palette has a fourth value for transparency.
    This has a value from 0-1 where 0 is completely transparent
    and 1 is fully opaque.*/
p {
    color: rgba(0,0,0,.5);
}

/* Hexadecimal starts with a '#' and uses 6, base 16 (0-9 then a-f) 
    values to determine the color. Each color (RGB) is represented by
    two of these values. Red being the first two, green being the middle
    two, and blue is the last two. In this system 0 is still the absence
    of color, and F is the full value. */
span {
    color: #123abc;
}

/* If both values for each respective color match, this can be shorthanded 
    with just 3 values for the color. Here is an example in using the 
    'shorthandHex' class.*/
.shorthandHex {
    color: #0fa;
}